

.intro{
    position: absolute;
    width: 100%;
    height: 216px;
    left: 0px;
    top: 209px;
    
    background: url(https://ngn.org.np/images/background/page-title-bg.jpg);
    border-radius: 0px;

    background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.introduction{
    position: absolute;
width: 169px;
height: 18px;
left: 675px;
top: 65px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 18px;
/* identical to box height, or 82% */

text-align: center;
text-transform: uppercase;

color: #ffffff;

}

.box{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 25px;
left: 660px;
top: 75px;

border: 2px solid #ffffff;
border-radius: 0px;
}

.para{
    position: absolute;
width: 950px;
height: 81px;
left: 285px;
top: 516px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
/* or 180% */


color: #717070;
}

.para1{
    position: absolute;
width: 952px;
height: 108px;
left: 285px;
top: 622px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
/* or 180% */


color: #717070;

}
